@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
.small-select {
    font-size: 12px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 2px 4px;
    outline: none;
    cursor: pointer;
}

.small-button {
    font-size: 12px;
    padding: 2px 6px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.small-button:hover {
    background-color: #e0e0e0;
}

/* Estilo para ocultar a coluna de status */
.hide-column {
    display: none;
}
